<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Pollthingy</title>
        <link href="assets/css/bootstrap.css" rel="stylesheet">
        <link href="assets/css/style.css" rel="stylesheet">
        <script type="text/javascript" src="assets/js/lib/require.js" data-main="main"></script>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/2DV407">
                        Pollthingy
                    </a>
                    <ul class="nav">
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div id="content">
            </div>
        </div>
        
        <!-- Templates -->
        <script type="text/template" id="index">
            <a href="#poll/create" class="create-poll btn btn-large btn-primary" value="Create new poll"><i class="icon-plus icon-white"></i> Create a poll</a>
            <ul id="polls" class="unstyled">
            </ul>
        </script>
        
        <script type="text/template" id="create-poll">
            <h2>Create a poll</h2>
            <input type="input" id="question" placeholder="Question" />
            <ul id="answers" class="answers unstyled">
                <li><input type="input" placeholder="Answer 1" /></li>
                <li><input type="input" placeholder="Answer 2" /></li>
            </ul>
            <label class="checkbox">Make private?<input type="checkbox" id="private"></label>
            <a href="#" class="add-answer btn btn-info"><i class="icon-plus icon-white"></i> Add answer</a>
            <a href="#" class="create-poll-btn btn btn-primary"><i class="icon-ok icon-white"></i> Create poll</a>
        </script>
        
        <script type="text/template" id="poll-view">
            <h2><%= question %></h2>
            <%= id %>
        </script>
    </body>
</html>