<h2>Create a poll</h2>
<input type="input" id="temp-id" placeholder="ID" /><br />
<input type="input" id="question" placeholder="Question" />
<ul id="answers" class="answers unstyled">
    <li><input type="input" placeholder="Answer 1" /></li>
    <li><input type="input" placeholder="Answer 2" /></li>
</ul>
<label class="checkbox">Make private?<input type="checkbox" id="private"></label>
<a href="#" class="add-answer btn btn-info"><i class="icon-plus icon-white"></i> Add answer</a>
<a href="#" class="create-poll-btn btn btn-primary"><i class="icon-ok icon-white"></i> Create poll</a>